doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1')
  title HACKGT8 Project
  link(href='style.css' rel='stylesheet')
  link(href='mobile.css' rel='stylesheet' media='screen and (max-width:501px)')
  link(href='print.css' rel='stylesheet' media='print')
#main
  header#htitle
    h1#title About Us
  nav#menu
    ul
      li
        a(href='index.html') Home
      li
        a(href='resources.html') Resources
      li
        a(href='about.html') About
  h2#habout Meet the Creators!
  #pro
    img#wcpc(src='image/person.jpg' alt='Person' height='200' width='220')
    p#aboutp
  footer#fhome
    #nxt
      a(href='resources.html') Previous
