doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1')
    title HACKGT8 369
    link(href='css/style.css' rel='stylesheet')
  body
    #main1
      header#htitle
        h1#title Forum
      form
        nav#menu
          ul
            li
              a(href='index') Home
            li
              a(href='resources') Resources
            li
              a(href='about') Forum
      h2#habout Meet Others!
      .topnav
        form.search(action='search' method='GET')
          input.bar(name= 'searchText' type='text' placeholder='Search Tags...')
          button(type='submit') Submit
      #pro
        each line in lines
          p#forump.stylename
            b=line.fname
            br
            i=line.ident
            br
            sub=line.rant
            br