doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1')
    title HACKGT8 369
    link(href='css/style.css' rel='stylesheet' media='screen')
  body
    #main
      header#htitle
        h1#title Welcome
      form
        nav#menu
          ul
            li
              a(href='index') Home
            li
              a(href='resources') Resources
            li
              a(href='about') Forum
      h2#hparth How are you?
      #pro.push
        img#conL(src='images/connect.png' alt='Connect Logo' height='200' width='220')
        section#form
          form(action='/' , method='POST')
            .row
              .col-lg-6
                .form-group
                  h3 Name
                  input.form-control(type='text' name='fname')
                  h3 Identifiers
                  input.form-control(type='text' name='ident')
                  h3 Share
                  input.form-control(type='text' size='100' name='rant')
              .col-lg-6
                .checkbox
                  label.inline-checkbox
                    input(name='isAnonymous' type='checkbox')
                    | Stay Anonymous
            button(type='submit') Submit
      footer#fhome
