doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1')
    title HACKGT8 Project
    link(href='css/style.css' rel='stylesheet' media='screen')
    link(href='css/mobile.css' rel='stylesheet' media='screen and (max-width:501px)')
    link(href='css/print.css' rel='stylesheet' media='print')
  body
    #main
      header#htitle
        h1#title Insert Title of Website
      nav#menu
        ul
          li
            a(href='html/index.html') Home
          li
            a(href='html/resources.html') Resources
          li
            a(href='html/about.html') About
      h2#hparth How are you?
      #pro
        img#conL(src='../images/connect.png' alt='Connect Logo' height='200' width='220')
        section#form
          form(action = "/", method = "POST")
            .row
              .col-lg-6
                .form-group
                  h3 Name
                  input.form-control(type='text' name='name')
                  h3 Identifiers
                  input.form-control(type='text' name='tag')
                  h3 Share
                  input.form-control(type='text' size='100' name='text')
              .col-lg-6
                .checkbox
                  label.inline-checkbox
                    input(type='checkbox')
                    | Stay Anonymous
            button(type='submit' value='Post') Find Others
      footer#fhome
        #nxt
          a(href='test.pug') Next