doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1')
    title Yarn
    link(href='css/style.css' rel='stylesheet')
  body
    #main
      header#htitle
        h1#title Helpful Resources
      form
        nav#menu
          ul
            li
              a(href='index') Home
            li
              a(href='resources') Resources
            li
              a(href='about') Forum
      h2#habout You are not alone!
      #pro.push
        img#reCl(src='images/resource.png' alt='Resources Clipart' height='200' width='220')
        ul#aboutp
          b
            li General Crisis
          ul
            a(href='https://www.crisistextline.org/text-us/' target='_blank')
              li Crisis Text Line: Text HOME to 741-741
          b
            li Depression
          ul
            a(href='https://suicidepreventionlifeline.org/' target='_blank')
              li National Suicide Prevention Lifeline: 1-800-273-8255
            a(href='https://www.thetrevorproject.org/' target='_blank')
              li The Trevor Project: 866-488-7386
          b
            li Domestic Violence
          ul
            a(href='https://www.loveisrespect.org/get-relationship-help/' target='_blank')
              li loveisrespect: 1-866-331-9474
          b
            li Sexual Assault
          ul
            a(href='https://hotline.rainn.org/online' target='_blank')
              li RAINN: 1-800-656-4673
          b
            li Mental Illness
          ul
            a(href='https://nami.org/Home' target='_blank')
              li NAMI: 1-800-950-6264
          b
            li Eating Disorder
          ul
            a(href='https://www.nationaleatingdisorders.org/' target='_blank')
              li NEDA: 1-800-931-2237
      footer#fhome
