html
html
    head
        title Form Tester
    body
        h1 Test submit experience form
        form(action = "/", method = "POST")
            label(for='educationLevel') Education Level:
            select#educationLevel(name='educationLevel')
                option(value='undergraduate') Undergraduate
                option(value='graduate') Graduate
            br
            textarea#text(name='text' rows='8' cols='80')
            p Selected Tags:
            textarea#selectedTags(name='selectedTags')
            br
            label(for='tags') Tags: 
            select#tags(onchange='changeTag(this.selectedIndex);')
                option Male
                option Female
                option LGBTQ
                option African American
                option Asian American
                option Hispanic
                option Native American
                option Muslim
            br
            input(type='submit' value='Post')
        p=lines
    script(type='text/javascript').
        function changeTag(selectedIndex) {
        var textToChange = document.getElementById("selectedTags").textContent;
        var select = document.getElementById("tags");
        var text = select.options[selectedIndex].text;
        if (!textToChange.includes(text)) {
        document.getElementById("selectedTags").textContent += text + ", ";
        }
        }